<section class="contacts-section" id="contacts">
  <div class="container">
    <div class="contacts-first-block">
      <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
      <ul class="contacts-img-list list">
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                img/fresh/melon/Rectangle42472.jpg    1x,
                img/fresh/melon/Rectangle42472@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                img/fresh/melon_tablet_and_mobile/melon.jpg    1x,
                img/fresh/melon_tablet_and_mobile/melon@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="contacts-melon"
              src="img/fresh/melon_tablet_and_mobile/melon.jpg"
              alt="melon"
              loading="lazy"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                img/fresh/blueberry/blueberry.jpg    1x,
                img/fresh/blueberry/blueberry@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                img/fresh/blueberry_tablet_and_mobile/blueberry.jpg    1x,
                img/fresh/blueberry_tablet_and_mobile/blueberry@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="contacts-blueberry"
              src="img/fresh/blueberry_tablet_and_mobile/blueberry.jpg"
              alt="blueberry"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="contacts-second-block">
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="contacts-form modal-form">
        <div class="contacts-form-div">
          <input
            class="contacts-input modal-field-input"
            type="email"
            name="email"
            placeholder="Enter email..."
            required
            title="Email must contain ''@''. For example - ''example@ukr.net''"
          />
          <button class="contacts-button open-modal-btn" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
