<footer class="footer">
  <div class="footer-section container-footer">
    <div class="footer-block-1">
      <img
        class="photo-footer"
        srcset="img/footer/image.jpg, img/footer/image@2x.jpg 2x"
        src="img/footer/image.jpg"
        alt="image"
      />
      <a href="./index.html" class="footer-logo link">
        <svg class="footer-logo-icon" width="16" height="16">
          <use href="img/icons/sprite.svg#icon-logo"></use>
        </svg>
        <span class="footer-logo-text link">FRESH HARVEST BOX</span></a
      >

      <nav class="footer-nav">
        <ul class="footer-list list">
          <li class="footer-item">
            <a class="footer-item-link" href="#how-it-works">How It Works</a>
          </li>
          <li class="footer-item">
            <a class="footer-item-link" href="#organic-fruits">Fruits</a>
          </li>
          <li class="footer-item">
            <a class="footer-item-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="socials-adress">
      <div class="footer-socials">
        <ul class="footer-list-2">
          <li class="footer-icons list">
            <a
              class="footer-icons-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-socials-svg" width="24" height="24">
                <use href="img/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-icons list">
            <a
              class="footer-icons-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-socials-svg" width="24" height="24">
                <use href="img/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-icons list">
            <a
              class="footer-icons-link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-socials-svg" width="24" height="24">
                <use href="img/icons/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <address class="footer-contacts">
        <ul class="footer-list-3">
          <li class="contacts-list phone">
            <a href="tel:+380684439426" class="adress-phone"
              >+380 (68) 443-94-26</a
            >
          </li>

          <li class="contacts-list">
            <a
              class="adress-place"
              href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7331639,-111.9605388,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7331639!4d-111.9583501!16s%2Fg%2F1tcxvqmt"
              target="_blank"
              rel="noopener noreferrer"
              >1678 S. Pioneer Road Salt Lake City<br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="go-top">▲</div>
</footer>
