<header class="header">
  <div class="container heder-nav-menu">
    <div class="header-position">
      <nav class="header-nav">
        <ul class="header-list list">
          <li class="header-item item">
            <a class="header-link link" href="#how-it-works">How It Works</a>
          </li>
          <li class="header-item item">
            <a class="header-link link" href="#organic-fruits">Fruits</a>
          </li>
          <li class="header-item item">
            <a class="header-link link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a href="#organic-fruits" class="mobile-icon-link">
        <div class="header-mobile-but">
          <svg class="mob-icon" width="28" height="28">
            <use href="img/icons/sprite.svg#uil_carR"></use>
          </svg></div
      ></a>
    </div>
    <a href="./index.html" class="header-logo link">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="img/icons/sprite.svg#icon-logo"></use>
      </svg>
      <span class="header-logo-text link">FRESH HARVEST BOX</span></a
    >
    <button
      type="button"
      class="menu-toggle js-open-menu"
      aria-label="Main menu"
    >
      <svg
        class="mobil-icon-open"
        width="24"
        height="24"
        aria-label="Преключатель мобильного меню"
      >
        <use class="icon-menu" href="img/icons/sprite.svg#gg_menu-left"></use>
      </svg>
    </button>
  </div>
</header>
<!-- MOB -->
<div class="menu-container js-menu-container">
  <div class="mobile-header">
    <div class="menu-header container">
      <a href="../index.html" class="header-logo link">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="img/icons/sprite.svg#icon-logo"></use>
        </svg>
        <span class="header-logo-text link">FRESH HARVEST BOX</span></a
      >
      <button
        class="close-menu js-close-menu"
        type="button"
        aria-label="Close main menu"
      >
        <svg
          class=""
          width="24"
          height="24"
          aria-label="Преключатель мобильного меню"
        >
          <use
            class="icon-cross modal-icon"
            href="img/icons/sprite.svg#icon-closed"
          ></use>
        </svg>
      </button>
    </div>
  </div>
  <ul class="mobile-menu list">
    <li class="mobile-item item">
      <a
        class="mobile-link current link js-close-menu-first"
        href="#how-it-works"
        >How It Works</a
      >
    </li>
    <li class="mobile-item item">
      <a class="mobile-link link js-close-menu-second" href="#organic-fruits"
        >Fruits</a
      >
    </li>
    <li class="mobile-item item">
      <a class="mobile-link link js-close-menu-third" href="#contacts"
        >Contacts</a
      >
    </li>
  </ul>
  <a href="#organic-fruits" class="mobile-icon-link">
    <div class="mobile-but">
      <svg class="mob-icon" width="28" height="28">
        <use href="img/icons/sprite.svg#uil_cartW"></use>
      </svg></div
  ></a>
</div>
