<section class="hero">
  <div class="container hero-width">
    <div class="hero-main-container">
      <div class="hero-girl-border">
        <div class="hero-btn">
          <a href="#organic-fruits" class="hero-btn-desc">shop now</a>
        </div>
        <picture>
          <source
            srcset="
              img/hero/top_hero/1girlnew.png   1x,
              img/hero/top_hero/1girl2xnew.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              img/hero/top_hero/girlnew.jpg   1x,
              img/hero/top_hero/girl2xnew.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <img
            src="img/hero/top_hero/girlnew.jpg"
            alt="girl"
            class="hero-girl"
          />
        </picture>
      </div>
      <div class="hero-title-box">
        <h1 class="hero-title">fresh harvest box</h1>
        <h2 class="hero-title-second">
          is your one-stop place for a delicious fruit basket
        </h2>
      </div>
      <picture>
        <source
          srcset="
            img/hero/banana_berry/imagebanana.png    1x,
            img/hero/banana_berry/imagebanana@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            img/hero/banana_berry/banana_tab.png    1x,
            img/hero/banana_berry/banana_tab@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            img/hero/banana_berry/banana_desk.png    1x,
            img/hero/banana_berry/banana_desk@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img
          src="img/banana_berry/banana_desk.png"
          alt="banana"
          class="hero-banana"
        />
      </picture>
      <picture>
        <source
          srcset="
            img/hero/banana_berry/imagestrawberry.png    1x,
            img/hero/banana_berry/imagestrawberry@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            img/hero/banana_berry/strawberry_tab.png    1x,
            img/hero/banana_berry/strawberry_tab@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            img/hero/banana_berry/strawberry_desk.png    1x,
            img/hero/banana_berry/strawberry_desk@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img
          class="hero-berry"
          src="img/hero/banana_berry/strawberry_desk.png"
          alt="berry"
        />
      </picture>
    </div>

    <div class="hero-desc-section">
      <div class="cards-wrapper-first">
        <p class="hero-description">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <div class="hero-first-wrapper">
          <p class="hero-first-title">Fruit</p>
          <img
            class="hero-first-pic"
            srcset="
              img/hero/watermelon/watermelon@1x.png 1x,
              img/hero/watermelon/watermelon@2x.png 2x
            "
            src="img/hero/watermelon/watermelon@1x.png"
            width="200"
            height="172"
            alt="watermelon"
          />
          <p class="hero-desc">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
      <div class="cards-wrapper-second">
        <ul class="hero-scroll-container">
          <li class="hero-scroll-btn-one">
            <h3 class="hero-scroll-btn-title">&#35;organic</h3>
          </li>
          <li class="hero-scroll-btn-two">
            <h3 class="hero-scroll-btn-title">&#35;products</h3>
          </li>
          <li class="hero-scroll-btn-three">
            <h3 class="hero-scroll-btn-title">&#35;basket</h3>
          </li>
          <li class="hero-scroll-btn-four">
            <h3 class="hero-scroll-btn-title">&#35;fruits</h3>
          </li>
        </ul>
        <div class="hero-second-wrapper">
          <p class="hero-second-title">Fruit</p>
          <img
            class="hero-second-pic"
            srcset="
              img/hero/basket_strawberris/basket_strawberris@1x.png 1x,
              img/hero/basket_strawberris/basket_strawberris@2x.png 2x
            "
            src="img/hero/basket_strawberris/basket_strawberris@1x.png"
            width="239"
            height="187"
            alt="basket with strawberries"
          />
          <p class="hero-desc">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
