<section class="section-how-it-works" id="how-it-works">

    <div class="container how-it-works">
      <h2 class="how-it-heading">
        To order your fruit basket, simply follow these easy steps
      </h2>
      <p class="how-it-discription">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. Whether you're looking for a healthy snack or a thoughtful
        gift, our fruit baskets are the perfect choice.
      </p>
      <ul class="sec-how-it-list">
        <li class="sec-how-it-item">
          <div class="container-item-list">
            <div class="how-it-heading-cont ">
              <h3 class="heading-item first">First Step</h3>
            </div>
            <p class="how-it-discription-item">
              Just choose the fruit you want to order by clicking on the
              checkboxes next to it.
            </p>
          </div>
        </li>
        <li class="sec-how-it-item">
          <div class="container-item-list">
            <div class="how-it-heading-cont ">
              <h3 class="heading-item second">Second Step</h3>
            </div>
            <p class="how-it-discription-item">
              Click on the basket and fill out the form.
            </p>
          </div>
        </li>
        <li class="sec-how-it-item">
          <div class="container-item-list">
            <div class="how-it-heading-cont ">
              <h3 class="heading-item third">Third Step</h3>
            </div>
            <p class="how-it-discription-item">
              Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
          </div>
        </li>
      </ul>
  
      <picture>
          <source srcset="img/how_it_works/desktop.gif" media="(min-width: 1280px)">
          <source srcset="img/how_it_works/tablet.gif" media="(min-width: 768px)">
        <img
          class="image-splash"
          src="img/how_it_works/tablet.gif"
          alt="fruits"
  
        />
      </picture>
      
    </div>
  </section>
  
