<!-- Modal window -->
<div class="thank-you-modal-backrod thank-modal">
  <div class="thank-you-window">
    <button class="thank-you-button close-btn" type="button">
      <svg class="thank-you-modal-icon">
        <use href="img/icons/sprite.svg#icon-closed"></use>
      </svg>
    </button>
    <img
      class="thank-you-picture"
      src="img/thank_you/thank_you_phone.png"
      alt="strawberry"
      srcset="img/thank_you/thank_you_phone@2x.png"
    />
    <div class="thank-you-text">
      <h2 class="thank-you-header">Thank you</h2>
      <p class="thank-you-note">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
  </div>
</div>
