<div class="backdrop is-hidden" data-modal-your-order>
  <div class="yourorder-modal">
    <button
      class="yourorder-modal-close-btn btn"
      type="button"
      data-modal-your-order-close
    >
      <svg class="yourorder-modal-icon-close" width="12" height="12">
        <use href="img/icons/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <h1 class="yourorder-modal-title">YOUR ORDER</h1>
    <form class="yourorder-form">
      <div class="container-form-checkbox">
        <!-- STRAWBERRY checkbox ====================================-->
        <div class="yourorder-modal-form-checkbox">
          <label
            class="container-checkbox-strawberry container-checkbox"
            for="strawberry"
          >
            <input
              class="yourorder-modal-form-checkbox-imput"
              type="checkbox"
              name="strawberry"
              id="strawberry"
            />
            <svg
              class="yourorder-modal-form-checkbox-icon"
              width="6"
              height="6"
            >
              <use href="img/icons/sprite.svg#icon-pick"></use>
            </svg>
            <span class="container-text">
              <span class="yourorder-modal-form-checkbox-head">
                Strawberry Basket
              </span>
              <span class="yourorder-modal-form-checkbox-uppertitle"
                >Plant</span
              >
            </span>

            <img
              class="yourorder-modal-form-checkbox-str-img"
              srcset="
                img/modal-your-oder/88x95-strawberry-mob@1x.png     88w,
                img/modal-your-oder/88x95-strawberry-mob@2x.png    176w,
                img/modal-your-oder/133x148-strawberry-tab@1x.png  133w,
                img/modal-your-oder/133x148-strawberry-tab@2x.png  266w,
                img/modal-your-oder/173x196-strawberry-desk@1x.png 173w,
                img/modal-your-oder/173x196-strawberry-desk@2x.png 346w
              "
              sizes="(min-width: 1280px) 173px, (min-width: 768px) 133px, (min-width: 375px) 88px, 100vw"
              src="img/modal-your-oder/173x196-strawberry-desk@1x.png"
              alt="John Smith"
              width="173"
              height="196"
              loading="lazy"
            />
          </label>
        </div>
        <!-- ======================================================= -->
        <!-- APPLE checkbox =========================================-->
        <div class="yourorder-modal-form-checkbox">
          <label
            class="container-checkbox-apple container-checkbox"
            for="apple"
          >
            <input
              class="yourorder-modal-form-checkbox-imput"
              type="checkbox"
              name="apple"
              id="apple"
            />
            <svg
              class="yourorder-modal-form-checkbox-icon"
              width="6"
              height="6"
            >
              <use href="img/icons/sprite.svg#icon-pick"></use>
            </svg>
            <span class="container-text">
              <span class="yourorder-modal-form-checkbox-head">
                Apple Basket
              </span>
              <span class="yourorder-modal-form-checkbox-uppertitle"
                >Plant</span
              >
            </span>
            <img
              class="yourorder-modal-form-checkbox-appl-img"
              srcset="
                img/modal-your-oder/106x95-apple-mob@1x.png   106w,
                img/modal-your-oder/106x95-apple-mob@2x.png   212w,
                img/modal-your-oder/172x148-apple-tab@1x.png  172w,
                img/modal-your-oder/172x148-apple-tab@2x.png  344w,
                img/modal-your-oder/229x196-apple-desk@1x.png 229w,
                img/modal-your-oder/229x196-apple-desk@2x.png 458w
              "
              sizes="(min-width: 1280px) 229px, (min-width: 768px) 172px, (min-width: 375px) 106px, 100vw"
              src="img/modal-your-oder/229x196-apple-desk@1x.png"
              alt="John Smith"
              width="229"
              height="196"
              loading="lazy"
            />
          </label>
        </div>
        <!-- =======================================================-->
        <!-- FRUITS checkbox =======================================-->
        <div class="yourorder-modal-form-checkbox">
          <label
            class="container-checkbox-fruits container-checkbox"
            for="fruits"
          >
            <input
              class="yourorder-modal-form-checkbox-imput"
              type="checkbox"
              name="fruits"
              id="fruits"
            />
            <svg
              class="yourorder-modal-form-checkbox-icon"
              width="6"
              height="6"
            >
              <use href="img/icons/sprite.svg#icon-pick"></use>
            </svg>
            <span class="container-text">
              <span class="yourorder-modal-form-checkbox-head">
                Strawberry Basket
              </span>
              <span class="yourorder-modal-form-checkbox-uppertitle"
                >Plant</span
              >
            </span>
            <img
              class="yourorder-modal-form-checkbox-frut-img"
              srcset="
                img/modal-your-oder/107x95-fruits-mob@1x.png   107w,
                img/modal-your-oder/107x95-fruits-mob@2x.png   214w,
                img/modal-your-oder/172x148-fruits-tab@1x.png  172w,
                img/modal-your-oder/172x148-fruits-tab@2x.png  344w,
                img/modal-your-oder/229x196-fruits-desk@1x.png 229w,
                img/modal-your-oder/229x196-fruits-desk@2x.png 458w
              "
              sizes="(min-width: 1280px) 229px, (min-width: 768px) 172px, (min-width: 375px) 107px, 100vw"
              src="img/modal-your-oder/229x196-fruits-desk@1x.png"
              alt="John Smith"
              width="229"
              height="196"
              loading="lazy"
            />
          </label>
        </div>
        <!-- ======================================================= -->
      </div>
      <div class="container-input">
        <!-- INPUT NAME =============================================-->
        <label class="yourorder-modal-label" for="yourorder-name">
          <input
            class="yourorder-modal-input"
            type="text"
            name="yourorder-name"
            placeholder="Enter full name..."
            id="yourorder-name"
            required
            pattern="^[a-zA-Z]+$"
            title="Username should start with a capital letter. For example 'John'"
          />
        </label>
        <!-- ======================================================= -->
        <!-- INPUT MAIL =============================================-->
        <label class="yourorder-modal-label" for="yourorder-mail">
          <input
            class="yourorder-modal-input"
            type="email"
            name="yourorder-mail"
            placeholder="Enter email..."
            id="yourorder-mail"
            required
            title="Email must contain ''@''. For example - ''example@ukr.net''"
          />
        </label>
        <!-- ======================================================= -->
        <!-- INPUT CARD =============================================-->
        <label class="yourorder-modal-label" for="yourorder-card">
          <input
            class="yourorder-modal-input"
            type="text"
            name="yourorder-card"
            placeholder="Enter card.."
            id="yourorder-card"
            pattern="[0-9/A-Z]{4}-[0-9/A-Z]{4}-[0-9/A-Z]{4}-[0-9/A-Z]{4}"
            title="this field can contain numbers and capital letters. For example ''1234-ABSD-1A2B-A1B2''"
          />
        </label>
        <!-- ======================================================= -->
        <!-- TEXTAREA ===============================================-->
        <label class="yourorder-modal-label-texterea" for="yourorder_comments">
          <textarea
            class="yourorder-modal-textarea"
            name="yourorder_comments"
            id="yourorder_comments"
            placeholder="Enter comments..."
            cols="30"
            rows="5"
          ></textarea>
        </label>
        <!-- ======================================================= -->
      </div>
      <!-- КНОПКА ЗАКАЗА ==========================================-->
      <button class="yourorder-modal-submit-btn" type="submit">Submit</button>
      <!-- ======================================================= -->
    </form>
  </div>
</div>
