.contacts-section {
  padding-top: 133px;
  padding-bottom: 80px;
}
.contacts-first-block {
  position: relative;
}
.contacts-title {
  position: absolute;
  left: 0;
  top: -55px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: var(--shadow);
}
.contacts-melon {
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .contacts-blueberry {
    display: none;
  }
  .contacts-second-block {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 223px;
    padding-bottom: 144px;
  }
  .contacts-title {
    left: 0;
    top: -80px;
    font-size: 54px;
  }
  .contacts-blueberry {
    border-radius: 20px;
  }
  .contacts-img-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .contacts-second-block {
    margin: 80px 106px 0;
  }
  .contacts-form {
    display: flex;
    justify-content: center;
  }
  .contacts-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--white-color);
    text-shadow: var(--shadow);
    margin-bottom: 80px;
  }
  .contacts-input {
    width: 292px;
    height: 48px;
    padding-left: 24px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
  }
  .contacts-input::placeholder {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.5);
  }

  .contacts-input:not(:placeholder-shown):required:valid {
    border-color: var(--outline-total-green);
  }

  .contacts-input:not(:placeholder-shown):required:invalid {
    border-color: var(--outline-total-red);
  }

  .contacts-form-div {
    position: relative;
  }
  .contacts-button {
    font-family: 'DM Sans';
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    background-color: var(--submit-green-color);
    border-radius: 100px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: var(--white-color);
    transition: background-color 300ms ease-in-out;
  }
  .contacts-input:hover,
  .contacts-input:focus {
    outline: none;
    border-color: var(--white-color);
    color: var(--white-color);
  }
  .contacts-button:hover,
  .contacts-button:focus {
    background-color: var(--white-color);
    color: var(--green-color);
  }
}
@media only screen and (min-width: 1280px) {
  .contacts-section {
    padding-top: 239px;
    padding-bottom: 150px;
  }
  .contacts-title {
    left: 0;
    top: -88px;
    font-size: 64px;
  }
  .contacts-img-list {
    gap: 24px;
  }
  .contacts-second-block {
    margin: 80px 362px 0;
  }
}

.go-top {
  position: fixed;
  right: 25px;
  bottom: 50px;
  cursor: pointer;
  display: none;
  font-size: 20px;
  color: var(--second-green-color);
  border: 1px solid var(--second-green-color);
  background-color: var(--no-color);
  padding: 15px 10px;
  transition: color 250ms ease-in-out, border 250ms ease-in-out;
}

.go-top:hover,
.go-top:focus {
  color: var(--second-yellow-color);
  border: 1px solid var(--second-yellow-color);
  background-color: var(--no-color);
}

.go-top--show {
  display: block;
}
