.fruits-main-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: var(--shadow);
  margin-bottom: 14px;
}

.fruits-text-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 44px;

  max-width: 334px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--white-color);

  text-shadow: var(--shadow);
}

@media screen and (min-width: 768px) {
  .fruits-main-title {
    font-size: 40px;
    line-height: 1.1;
  }
  .fruits-text-desc {
    max-width: 547px;
  }
}
.bottom-wrapper {
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.fruits-item {
  max-width: 335px;
  height: 465px;
  border-radius: 20px;
  padding: 64px 20px 24px 20px;

  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

@media screen and (min-width: 768px) {
  .bottom-wrapper {
    max-width: 704px;
  }
  .fruits-item {
    max-width: 344px;
    --items: 2;
  }
}
@media screen and (min-width: 1280px) {
  .bottom-wrapper {
    max-width: 1215px;
  }

  .fruits-list {
    column-gap: 24px;
    row-gap: 24px;
  }
  .fruits-item {
    max-width: 389px;
    --items: 3;
  }
}
.relative {
  position: relative;
}
.fruits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: var(--white-color);
}
.fruits-text {
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--white-color);
}
.img-fr {
  margin: 0 auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fruits-item:hover .img-fr,
.fruits-item:focus .img-fr {
  transform: scale(1.1);
}

.preic-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 126px;
  height: 42px;

  background-color: var(--white-color);
  border-radius: 200px;

  position: absolute;
  left: 24px;
  top: 399px;
}

.preic-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: var(--red-color);
}
@media screen and (min-width: 768px) {
  .fruits-title {
    font-size: 32px;
    line-height: 1.19;
  }
  .fruits-text {
    line-height: 1.33;
  }

  .preic-wrapper {
    width: 136px;
    height: 48px;
    padding: 12px 21px;
  }
  .berry {
    padding: 12px 17px;
  }
  .preic-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

.strawberry {
  background-color: var(--peach-color);
}

.banana {
  background-color: var(--second-yellow-color);
}
.watermelon {
  background-color: var(--second-green-color);
}

.lime {
  background-color: var(--light-green-color);
}

.apple {
  background-color: var(--light-red-color);
}

.peach {
  background-color: var(--summer-red-color);
}

.plums {
  background-color: var(--dim-pink-color);
  display: none;
}
.orange {
  background-color: var(--orange-color);
  display: none;
}
.kiwi {
  background-color: var(--dark-green-color);
  display: none;
}
@media screen and (min-width: 768px) {
  .plums,
  .orange {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .kiwi {
    display: block;
  }
}

.fruits-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.btn-fruits {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--second-green-color);
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 26px 8px 26px 7px;
  gap: 4px;

  color: var(--white-color);

  text-shadow: var(--shadow);
  transform: rotate(-14deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fruits-icon {
  fill: var(--white-color);
}
.btn-fruits:focus,
.btn-fruits:hover {
  transform: rotate(0deg);
  background-color: var(--white-color);
  color: var(--second-green-color);
}
.btn-fruits:focus .fruits-icon,
.btn-fruits:hover .fruits-icon {
  fill: var(--second-green-color);
}

@media screen and (min-width: 768px) {
  .btn-fruits {
    width: 114px;
    height: 114px;
    padding: 38px 17px 38px 18px;
    font-size: 18px;
    line-height: 1.33;
  }
}
