.how-it-heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;

  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--white-color);
  text-shadow: var(--shadow);
}

@media screen and (min-width: 768px) {
  .how-it-heading {
    font-size: 40px;
  }
}

.how-it-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 44px;

  max-width: 335px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--white-color);

  text-shadow: var(--shadow);
}

.sec-how-it-item {
  display: flex;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-item-list {
  display: flex;
}

.how-it-heading-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.04em;

  color: var(--white-color);

  width: 136px;
  height: 48px;
  margin-right: 14px;
  border-radius: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.first {
  background-color: var(--red-color);
}

.second {
  background-color: var(--green-color);
}

.third {
  background-color: var(--yellow-color);
}

.how-it-discription-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  max-width: 145px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;

  color: var(--black-color);

  text-shadow: var(--shadow);
}

.section-how-it-works {
  padding-bottom: 80px;
}

.sec-how-it-list {
  display: flex;
  justify-content: flex-start;
}

.image-splash {
  display: block;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 340px) {
  .heading-item {
    max-width: 120px;
  }
}

@media screen and (max-width: 767px) {
  .image-splash {
    width: 335px;
    height: 476px;
  }
  .sec-how-it-item {
    max-width: 335px;
    height: 112px;
  }

  .container-item-list {
    max-width: 295px;
  }

  .sec-how-it-list {
    row-gap: 20px;
    margin-bottom: 44px;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .image-splash {
    width: 704px;
    height: 476px;
  }

  .how-it-heading {
    max-width: 624px;
  }

  .how-it-discription {
    max-width: 509px;
  }

  .sec-how-it-item {
    width: 389px;
    height: 129px;
  }

  .container-item-list {
    width: 349px;
  }

  .sec-how-it-list {
    row-gap: 24px;
    margin-bottom: 80px;
    flex-direction: column;
  }

  .how-it-discription-item {
    max-width: 166px;
  }

  .section-how-it-works {
    padding-bottom: 144px;
  }
}

@media screen and (min-width: 1280px) {
  .sec-how-it-list {
    justify-content: center;
    column-gap: 24px;
    row-gap: 0px;
    margin-bottom: 80px;
    flex-direction: row;
  }

  .image-splash {
    min-width: 860px;
    height: 476px;
  }
  .section-how-it-works {
    display: flex;
    padding-bottom: 150px;
  }
}
